.VS-search .icon {
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: middle;
  width: 16px; height: 16px;
}
.VS-search .icon.cancel_search {
  width: 11px; height: 11px;
  background-position: center 0;
  background-image: url(../images/cancel_search.png);
  cursor: pointer;
}
  .VS-search .icon.cancel_search:hover {
    background-position: center -11px;
  }
.VS-search .icon.search_glyph {
  width: 12px; height: 12px;
  background-image: url(../images/search_glyph.png);
}
