<div id="title_box">
  <span id="title_box_inner" class="noselect"></span>
</div>

<div id="search_container">
  
  <div id="search_button" class="minibutton">Search</div>
  
  <div id="search_box_wrapper" class="text_input search noselect">
    <div class="icon search_glyph"></div>
    <div class="search_inner">

    </div>
    <div class="icon cancel_search cancel_search_box" title="clear search"></div>
  </div>
  
  
</div>