<div class="VS-search">
  <div id="search_container">
    <div class="VS-search-box-wrapper VS-search-box">
      <div class="icon VS-icon-search"></div>
      <div class="search_inner"></div>
      <div class="icon VS-icon-cancel VS-cancel-search-box" title="clear search"></div>
    </div>
  </div>
</div>